.paging {
    &__link:hover {
        text-decoration: underline;
    }

    &__menuLine {
        border: 1px solid white;
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 5rem;
      }

    &__pages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    &__change {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        margin-bottom: 3rem;
        //width: 100px;
        text-align: center;
        gap: 1rem;
    }
}